* {
  margin:0;
  padding:0;
}

body {
  background-color: #666;
  font-family:sans-serif;
}

.wrapper {
  margin:0 auto;
  width:400px;
}

#header, #footer {
  padding:30px 0;
  text-align:center;
}

h1 {
  color:yellow;
  font-size:40px;
  text-shadow:0px 0px 5px #CC0;
}

ul {
  list-style-type:none;
}

.up {
  background-color: #0F6;
}

.down {
  background-color: #C30;
}

#services {
  width:400px;
}

#services .service {
  background-position: 97% 15px;
  background-repeat: no-repeat;
  border-radius:10px;
  margin-top: 15px;
  padding: 10px;
}

#services .service:first-child {
  margin-top: 0px;
}

.service:hover {
  cursor:pointer;
}
.service h2 {
  font-size:18px;
  font-weight:normal;
}

.service .checked_at {
  display:none;
  float:right;
  font-size:12px;
  margin-top:-17px;
}

.service.up {
  background-image: url(images/status_up.png);
  box-shadow: 0px 0px 10px #0F6;
  color: #666;

}

.service.down {
  background-image: url(images/status_down.png);
  box-shadow: 0px 0px 10px #C30;
  color: white;
}

/*** service.selected ***/

.service.selected {
  background-color:#CCC;
  background-image:none;
  box-shadow: 0px 0px 10px #CCC;
  color:#666;
  cursor: default;
}

.service.selected .checked_at {
  display:block;
}

.service.selected h2 {
  padding-left:5px;
}

/*** info ***/

.info {
  border:1px solid #999;
  background-color: white;
  border-radius: 5px;
  display:none;
  margin-top:5px;
  padding:15px 10px;
}

.info h3 {
  font-size:14px;
}

.info h3 span {
  color:#999;
  font-size:12px;
}

/*** status_history ***/

.status_history {
  margin:10px 0;
  width:100%;
}

.status_history li {
  border-radius:5px;
  display:inline-block;
  text-align:center;
  padding:5px;
  width:37.5px;
}

.status_history li a {
  color:inherit !important;
  text-decoration:none;
}
.status_history li.no_data {
  background-color:#CDCDCD;
}

.status_history li.down {
  color:white;
}

.status_history li.up.today {
  border:2px solid #093;
}

.status_history li.down.today {
  border:2px solid #900;
}


.status_history .day_number {
  font-size:24px;
  font-weight:bold;
  line-height:95%;
}

.status_history .day {
  font-size:14px;
  display:block;
  text-transform:lowercase;
}

/*** week_navigation ***/

.week_navigation a {
  color:blue;
  text-decoration:none;
  font-size:12px;
}

.week_navigation .next{
  float:right;
}

/*******/

#footer {
  color:yellow;
}

#footer p {
  font-size:14px;
}

#footer a {
  color:yellow;
}